<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>homeworkOmikuji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C86B49D1F5BA68600CC5D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C86B4B11F5BA68600CC5D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C86B4BC1F5BA68600CC5D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
